---
import { changeLanguage } from "i18next";
import HeroSection from "../../components/HeroSection.astro";
import ProjectsSection from "../../components/ProjectsSection.astro";
import ToolingSection from "../../components/ToolingSection.astro";
import ResumeSection from "../../components/ResumeSection.astro";
import Layout from "../../layouts/Layout.astro";
import ContactSection from "../../components/ContactSection.astro";

changeLanguage("zh");
---

<Layout title="Kelly CHI | Front End Developer">
  <main class="container mx-auto">
    <HeroSection />
    <ToolingSection />
    <ProjectsSection />
    <ResumeSection />
    <ContactSection />
  </main>
  <form name="contact-form" netlify netlify-honeypot="bot-field" hidden>
    <input type="text" name="name" />
    <input type="email" name="email" />
    <textarea name="message"></textarea>
  </form>
</Layout>
