---
import HeroSection from '../components/HeroSection.astro';
import ToolingsSection from '../components/ToolingsSection.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="Kelly CHI | Front End Developer">
  <main class="container">
    <HeroSection />
    <ToolingsSection />
  </main>
</Layout>
