---
import HeroSection from '../components/HeroSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ToolingSection from '../components/ToolingSection.astro';
import ResumeSection from '../components/ResumeSection.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="Kelly CHI | Front End Developer">
  <main class="container">
    <HeroSection />
    <ToolingSection />
    <ProjectsSection />
  </main>
</Layout>
