---
import { Icon } from 'astro-icon';
---

<footer class="bg-vermilion-500 dark:bg-asparagus-500">
  <Icon name="mobile_bg2_light" class="dark:hidden" />
  <Icon name="mobile_bg2_dark" class="hidden dark:inline" />
  <div
    class="bg-vermilion-500 pb-2 pt-3 text-center text-pearl-bush-500 dark:bg-asparagus-500"
  >
    Designed in Figma and built with Astro <br /> @ Kelly CHI 2023
  </div>
</footer>
