---
import resumePDF from '../images/Kelly_CHI_resume_ ENG_2023_web_dev.pdf';
import { Icon } from 'astro-icon';
---

<section id="home" class="relative h-screen px-7">
  <Icon
    name="mdi:triangle"
    class="w-[250px] text-white absolute top-20 left-16 dark:text-asparagus-500"
  />
  <h1 class="text-8xl font-righteous absolute top-48 left-7 dark:text-white">
    Kelly<br /> CHI
  </h1>

  <h2 class="text-3xl font-thin pt-[25rem]">Front End Developer</h2>
  <p class="font-thin my-5 mr-5">
    I’m a front-end developer who loves building user-friendly websites and web
    apps, enjoys writing documentation and loves helping people learn how to
    code.
  </p>
  <div class="my-8 space-x-4 flex items-center">
    <a
      href="https://github.com/KellyCHI22"
      target="_blank"
      class="inline-block p-2 text-2xl bg-jet-500 rounded-full text-pearl-bush-500 dark:bg-pearl-bush-500 dark:text-jet-500 hover:bg-jet-400 dark:hover:bg-pearl-bush-600"
    >
      <Icon name="mdi:github" class="w-9" />
    </a>
    <a
      href="https://linkedin.com/in/kelly-chi-front-end"
      target="_blank"
      class="inline-block p-2 text-2xl bg-jet-500 rounded-full text-pearl-bush-500 dark:bg-pearl-bush-500 dark:text-jet-500 hover:bg-jet-400 dark:hover:bg-pearl-bush-600"
    >
      <Icon name="mdi:linkedin" class="w-9" />
    </a>
    <a
      href={resumePDF}
      target="_blank"
      class="w-[3.25rem] h-[3.25rem] text-2xl bg-jet-500 rounded-full text-pearl-bush-500 dark:bg-pearl-bush-500 dark:text-jet-500 hover:bg-jet-400 dark:hover:bg-pearl-bush-600 grid place-items-center"
    >
      <p class="font-extrabold">CV</p>
      <!-- <Icon name="mdi:resume" class="w-9" /> -->
    </a>
    <a
      href="mailto: chihsinting@gmail.com"
      target="_blank"
      class="inline-block p-2 text-2xl bg-jet-500 rounded-full text-pearl-bush-500 dark:bg-pearl-bush-500 dark:text-jet-500 hover:bg-jet-400 dark:hover:bg-pearl-bush-600"
    >
      <Icon name="ph:envelope" class="w-9" />
    </a>
  </div>
</section>
