---
import '@fontsource/righteous';
import '@fontsource-variable/red-hat-display';
import Navbar from '../components/Navbar';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-light.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{title}</title>
  </head>
  <body
    class="font-red-hat-display-variable bg-alabaster-500 border-8 border-vermilion-500 text-jet-500 dark:bg-jet-500 dark:text-alabaster-500"
  >
    <Navbar client:only />
    <slot />
    <footer class="p-5 bg-vermilion-500 text-center text-alabaster-500">
      Designed with Figma and built with Astro <br /> @ Kelly CHI 2023
    </footer>
  </body>
</html>

<script is:inline>
  // change favicon according to default system theme
  const favicon = document.querySelector('link[rel="icon"]');
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
    favicon.setAttribute('href', `/logo-dark.svg`);
  } else {
    document.documentElement.classList.add('dark');
    favicon.setAttribute('href', `/logo-light.svg`);
  }
  window.localStorage.setItem('theme', theme);
</script>
